.main-page{
  max-height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
}

.logo{
  width: 100%;
  max-width: 385px;
  max-height: 90vh;
  justify-self: center;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.left{
  justify-self: center;
}

.title-left {
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-mask {
  width: 100%;
  max-width: 385px;
}

.title-svg {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
}

.right .btn-ancient {
  margin-top: 10px;
}

@media (orientation: landscape){
  .main-page{
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .logo{
    max-width: 100%;
  }
  .title-mask{
    height: auto;
    max-width: none;
    width: 100%;
  }
  .right {
    align-items: flex-start;
  }
  .right h1{
    width: 100%;
  }
  .right .btn-ancient {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: auto;
  }

  .title-left {
    display: inline;
  }
  .title-center {
    display: none;
  }
}