.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px 12px;

    /* look */
    background: rgba(13, 13, 13, 0) 0%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transform: translateY(0);
    transition: transform 180ms ease;
}

.topbar.is-hidden {
    transform: translateY(-110%);
}

/* Logo */
.brand {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.brand-logo {
    height: 38px;
    width: auto;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

/* Search */
.search {
    flex: 1;
    display: flex;
}

.search-input {
    width: 100%;
    padding: 10px 12px;

    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.25);

    font-family: inherit;
    outline: none;
}

.search-input:focus {
    border-color: rgba(0, 0, 0, 0.45);
    background: rgba(255, 255, 255, 0.32);
}

/* Para que el contenido no quede debajo del header */
.content {
    padding-top: 64px;
}

p {
    font-size: 0.90rem;
    padding-bottom: 1rem;
}

header {
    margin-bottom: 1.5rem;
}

.entry {
    max-width: 70ch;
    padding: 0 1rem;
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.7;
}

.kicker {
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: .85rem;
    opacity: .75;
    padding-top: 15px;
}

.entry-title {
    font-size: 1rem;
    line-height: 1.1;
}


.meta {
    font-size: .85rem;
    opacity: .7;
}

.lead {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: .25rem;
}

.entry-toggle {
    all: unset;
    cursor: pointer;

    display: flex;
    justify-content: center;
    margin-bottom: .5rem;

    color: inherit;
    opacity: .6;
}

.entry-toggle:hover {
    opacity: 1;
}

.arrow {
    display: inline-block;
    transition: transform 500ms ease;
    font-size: 1rem;
}

/* Cuando está colapsado */
.entry.is-collapsed .arrow {
    transform: rotate(-90deg);
}

/* Cuerpo de la entrada */
.entry-body {
    overflow: hidden;
    opacity: 1;
    clip-path: inset(0 0 0 0);
    opacity: 1;
    transform: translateY(0);
    transition:
        -webkit-clip-path 700ms cubic-bezier(.25, .1, .25, 1),
        clip-path 700ms cubic-bezier(.25, .1, .25, 1),
        opacity 300ms ease,
        transform 700ms cubic-bezier(.25, .1, .25, 1);
}

/* Estado oculto */
.entry.is-collapsed .entry-body {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    transform: translateY(-6px);
}

.entry-head {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-bottom: .6rem;
}

::selection {
    background: #101010da;
    color: #fff;
}

::-moz-selection {
    background: #101010da;
    color: #fff;
}

.entry.is-collapsed .entry-body-wrap {
    grid-template-rows: 0fr;
}

.entry-body-wrap {
    display: grid;
    grid-template-rows: 1fr;
    /* abierto */
    transition: grid-template-rows 700ms cubic-bezier(.25, .1, .25, 1);
}

.entry.is-collapsed .entry-body {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    transform: translateY(-6px);
}