p {
    font-family: var(--ff, 'Special Elite'), serif;
    font-size: var(--fs, 1rem);
    color: var(--color, #2a1f18);
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 0 1rem;

    background:

        radial-gradient(circle at 5% 5%,
            rgba(210, 168, 125, 1),
            rgba(190, 152, 109, 0.5),
            rgba(169, 132, 90, 0.1) 50%),

        radial-gradient(circle at 50% 100%,
            rgba(210, 168, 125, 1),
            rgba(190, 152, 109, 0.5),
            rgba(169, 132, 90, 0.1) 50%),

        radial-gradient(circle at 95% 5%,
            rgba(210, 168, 125, 1),
            rgba(190, 152, 109, 0.5),
            rgba(169, 132, 90, 0.1) 50%),
        #8d6b48;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: cover;

    background: url("../../Assets/Images/black-paper.png");

    opacity: 0.5;
    mix-blend-mode: overlay;
}

.page,
.content,
.entry{
  max-width: 70ch;
  margin: 0 auto;
}

.visually-hidden{
  position:absolute;
  width:1px;height:1px;
  padding:0;margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0;
}